# Xcode
.DS_Store
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.xcworkspace
!*.xcworkspace
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.xcscheme
*.xcuserstate
*.xcconfig
*.moved-aside
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
project.xcworkspace
xcuserdata
*.xccheckout
*.xcscmblueprint
*.xcscheme
*.xcuserstate
*.xcconfig
*.moved-aside
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
