<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>spotify</string>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>com.spotify.iOS-SDK-Quick-Start</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>spotify-ios-quick-start</string>
        </array>
      </dict>
    </array>
    
    <key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-17352049301-ios-7d69bf6744779a4bb6919c</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.17352049301-81ii2jj8qsm21p7vcvtgj80f6te41hba</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
